src/main/resources/wsdl/getEntity.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.redhat.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EntityServiceService" targetNamespace="http://service.redhat.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.redhat.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.redhat.com/" version="1.0">
  <xs:element name="getEntity" type="tns:getEntity"/>
  <xs:element name="getEntityResponse" type="tns:getEntityResponse"/>
  <xs:complexType name="getEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:entityInput"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entityInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="detail" type="xs:string"/>
      <xs:element minOccurs="0" name="event" type="xs:dateTime"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="remarks" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:entityOutput"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entityOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="event" type="xs:dateTime"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="info" type="xs:string"/>
      <xs:element minOccurs="0" name="remarks" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getEntity">
    <wsdl:part element="tns:getEntity" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntityResponse">
    <wsdl:part element="tns:getEntityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EntityService">
    <wsdl:operation name="getEntity">
      <wsdl:input message="tns:getEntity" name="getEntity">
    </wsdl:input>
      <wsdl:output message="tns:getEntityResponse" name="getEntityResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EntityServiceServiceSoapBinding" type="tns:EntityService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEntity">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEntity">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEntityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntityServiceService">
    <wsdl:port binding="tns:EntityServiceServiceSoapBinding" name="EntityServicePort">
      <soap:address location="https://localhost:8080/cxf/getEntity"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>